body {
    background-color: lightgrey;
    font-family: "Verdana", sans-serif;
}

div.container {
    width: 800px;
    margin: auto;
    background-color: white;
}

div.header, div.main-content {
    width: 100%;
}

.title, .subtitle {
    text-align: center;
}