body {
    background-color: lightgrey;
    font-family: "Verdana", sans-serif;
}

div.container {
    width: 800px;
    height: 100%;
    margin: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: white;
}

div.header, div.main-content {
    width: 100%;
}

.title, .subtitle {
    text-align: center;
}